body {
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

@font-face {
    font-family: 'gothamBook';
    src: url(../../fonts/Gotham-Book.ttf);
}

@font-face {
    font-family: 'gothamBold';
    src: url(../../fonts/Gotham-Bold.ttf);
}

@font-face {
    font-family: 'gothamXLight';
    src: url(../../fonts/Gotham-XLight.ttf);
}

@font-face {
    font-family: 'gothamMedium';
    src: url(../../fonts/Gotham-Medium.ttf);
}

.navbar-nav > li > a,
.navbar-brand {
    padding-top: 8px !important;
    padding-bottom: 0 !important;
}

.navbar {
    min-height: 36px !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

nav.navbar {
    font-family: 'gothamBook';
    border: 0;
    padding: 0;
    margin: 0;
    background-color: black;
    border-radius: 0px;
    .navbar-header {
        div.blueFill {
            height: 36px;
            width: 8em;
            background-color: #2996E7;
            float: left;
        }
        .logoAngle {
            height: 36px;
            margin-left: -1em;
            float: left;
        }
        button {
            border: 0;
            margin: 0;
            border-radius: 0px;
            height: 36px;
        }
        .navLogoContainer {
            color: white;
            position: absolute;
            line-height: 2.5em;
            margin-left: 2.5em;
            margin-top: 0.5em;
            float: left;
            img {
                width: 12em;
            }
        }
    }
    div.collapse {
        border-radius: 0;
        ul.nav {
            float: left;
            margin-right: 4em;
            li {
                a {
                    color: white;
                    width: 12em;
                }
                div.searchCircle {
                    display: none;
                    border: 1px solid white;
                    cursor: pointer;
                    background: url("../../images/search.png") no-repeat center center;
                    background-size: 12px 12px;
                    z-index: 500;
                    position: absolute;
                    height: 18px;
                    width: 20px;
                    margin: -18px 0 0 134px;
                    img {
                        height: 1.2em;
                        margin: 0 auto;
                        display: block;
                        margin-top: 0.3em;
                    }
                }
                div#searchCollapse {
                    position: absolute;
                    margin-left: -9em;
                    margin-top: 1em;
                    input {
                        padding: 0;
                        border: 0;
                        border-radius: 15px;
                        border: 1px solid white;
                        text-align: center;
                    }
                }
                form {
                    input {
                        width: 15em;
                        border: 0;
                        padding: 0;
                        border-radius: 25px;
                        height: 20px;
                        background-color: #CCCCCC;
                        padding-left: 2em;
                        margin-left: 1em;
                        z-index: 1
                    }
                }
            }
        }
    }
    div.navbar-collapse {
        border: 0;
    }
}

section.hero {
    background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../../images/heroBackground.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: 'gothamBook';
    .heroStatement {
        font-size: 1.5em;
        text-align: center;
        width: 15em;
        margin: 0 auto;
        color: white;
        margin-top: 10em;
        span {
            font-family: 'gothamBold';
            color: #1D93E9;
        }
    }
    .btnWrapper {
        width: 15em;
        height: 10em;
        padding-top: 5em;
        button {
            width: 10em;
            height: 2.5em;
            background-color: transparent;
            border: 0;
            padding: 0;
            padding-top: 0.2em;
            border: 1px solid white;
            border-width: thin;
            display: block;
            margin: 0 auto;
            color: white;
        }
    }
    div.row {
        div.col-sm-4 {
            margin: 2em 0em;
            padding: 1em 0em;
        }
        h2 {
            font-size: 1.75em;
            text-align: center;
            font-family: 'gothamBold';
        }
        p {
            text-align: center;
        }
        // p:nth-child(1),
        // p:nth-child(2) {
        //     // padding-bottom: 1em;
        //     border-bottom: 1px solid white;
        // }
        img {
            width: 4em;
            margin: 0 auto;
            display: block;
        }
        .border {
            border: 0.5px solid white;
            width: 20em;
            margin: 0 auto;
        }
    }
}

div.logoBorder {
    height: 36px;
    background-color: black;
    div.logoColor {
        width: 5em;
        height: 36px;
        background-color: #1d93e9;
        float: right;
    }
    img {
        height: 36px;
        float: right;
        margin-right: -2em;
    }
}

div.products-background {
    display: none;
}

div.productsContainer {
    background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../../images/haze.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 40em;
    font-family: "gothamBook";
    padding-top: 1em;
    h1 {
        font-size: 2em;
        background-color: transparent;
        position: relative;
        color: white;
        margin: 0;
        margin: 0em auto;
        display: block;
        width: 5.75em;
        font-family: 'gothamXLight'
    }
}

div.carousel {
    div.carousel-inner {
        color: white;
        height: 37.5em;
        img {
            height: 12em;
            width: 12em;
            border-radius: 75px;
            margin: 2em auto;
            border: 4px #2cae51 solid;
        }
        p {
            width: 20em;
            margin: 0 auto;
            text-align: center;
        }
        button {
            width: 12em;
            height: 3em;
            padding: 0;
            border: 0;
            font-size: 1.4em;
            margin: 2em auto;
            display: block;
            background-color: #2cae51;
            margin-bottom: 0em;
        }
        .retail {
            img {
                border-color: #E9722D;
            }
            button {
                background-color: #E9722D;
            }
        }
        .banks {
            img {
                border-color: #EFAA2E;
            }
            button {
                background-color: #EFAA2E;
            }
        }
        .realEstate {
            img {
                border-color: #1E94EA;
            }
            button {
                background-color: #1E94EA;
            }
        }
    }
}

section.media {
    margin: 0;
    color: black;
    div.col-sm-4 {
        padding: 0;
    }
    div.newsRoom {
        font-family: 'gothamXLight';
        height: 28em;
        div {
            width: 20em;
            margin: 0 auto;
        }
        h1 {
            text-align: center;
            font-size: 2em;
        }
        h2 {
            font-size: 1.5em;
            font-family: 'gothamBold';
        }
    }
    div.papersReleaseContainer {
        background-color: #2B2B2B;
        color: white;
        height: 28em;
        div.whitePapers {
            height: 14em;
            div.paperIconContainer {
                margin: 0 auto;
                display: block;
                width: 22em;
            }
            div.wrapper {
                width: 30em;
                display: block;
                margin: 0 auto;
                margin-top: 7em;
                div:nth-child(2) {
                    border-left: 1px solid white;
                    padding-left: 2em;
                }
                div {
                    width: 15em;
                    float: left;
                    padding: 1em;
                    font-family: 'gothamMedium';
                }
            }
            h1 {
                text-align: center;
                font-size: 2em;
                width: 8em;
                float: right;
                font-family: 'gothamXLight';
            }
            img {
                float: left;
                height: 3em;
                margin-top: 1.5em;
            }
        }
        div.pressReleases {
            background-color: #9E9E9E;
            height: 14em;
            h1 {
                font-family: 'gothamXLight';
                font-size: 2em;
                text-align: center;
                padding-top: 0.5em;
            }
            h2 {
                font-family: 'gothamMedium';
                font-size: 1.15em;
                width: 21em;
                display: block;
                margin: 0 auto;
            }
            .learn {
                cursor: pointer;
            }
            p {
                font-family: 'gothamBook';
                width: 26.75em;
                display: block;
                margin: 0.5em auto;
                font-size: 0.9em;
            }
        }
    }
    div.videos {
        background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../../images/videos.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: 0% 83%;
        height: 28em;
        color: white;
        h1:nth-child(1) {
            font-family: 'gothamXLight';
            text-align: center;
            font-size: 2em;
            padding-top: 0.5em;
        }
        h2 {
            font-family: 'gothamBold';
            font-size: 1.15em;
            margin-top: 0;
        }
        div.realEstateWebinar,
        div.whatWeDo {
            width: 25em;
            height: 7em;
            margin: 0 auto;
            img {
                height: 3em;
                float: left;
                margin-right: 2em;
                cursor: pointer;
            }
            div {
                float: left;
                width: 20em;
                p {
                    font-family: 'gothamXLight';
                    font-size: 0.9em;
                }
            }
        }
        div.whatWeDo {
            border-bottom: 1px solid white;
        }
        div.videosFooter {
            h1 {
                margin-top: 0.5em;
            }
            div.row {
                width: 15em;
                margin: 0 auto;
            }
            img {
                height: 2em;
                cursor: pointer;
            }
        }
    }
}

.signalBackground {
    height: 50em;
    background: url('../../images/signalBackground.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    div.whatIsSignal {
        width: 100%;
        height: 32em;
        background-color: transparent;
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        .signalWrapper {
            width: 25em;
            margin: 0 auto;
            position: relative;
            height: 80%;
            padding-top: 1em;
            color: white;
            h1 {
                font-family: 'gothamXLight';
                font-size: 2em;
            }
            img {
                height: 6em;
                margin: 0 auto;
                display: block;
            }
            p {
                font-family: 'gothamBook';
            }
            button {
                font-family: 'gothamBook';
                width: 8em;
                height: 2em;
                background-color: #1E94EA;
                border: 0;
                padding: 0;
            }
        }
    }
    .partners {
        color: white;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        height: 18.1em;
        padding-top: 2em;
        // -webkit-filter: blur(5px);
        // -moz-filter: blur(5px);
        // -o-filter: blur(5px);
        // -ms-filter: blur(5px);
        // filter: blur(5px);
        h1 {
            margin-top: 0;
            font-family: 'gothamXLight';
            font-size: 2em;
            text-align: center;
        }
        .partnersLogos {
            width: 28em;
            margin: 0em auto;
            padding: 3em 0em;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            div.col-xs-3 {
                padding: 0em 0px;
                img {
                    height: 2em;
                    margin: 0 auto;
                    display: block;
                }
            }
        }
    }
}

footer {
    background-color: #A8A8A8;
    .footerLogoContainer {
        width: 16em;
        margin: 0 auto;
        padding: 1em 0;
        img {
            height: 2.5em;
        }
        p {
            font-family: 'gothamXLight';
            padding-top: 0.5em;
        }
    }
    div.row {
        margin: 0;
        .col-sm-3 {
            margin: 0 auto;
            display: block;
            width: 45%;
        }
        a {
            display: block;
            font-family: 'gothamXLight';
            color: black;
            line-height: 1.75em;
            text-align: center;
            cursor: pointer;
            text-decoration: none;
        }
        .col-sm-3:nth-child(4) {
            width: 20em;
            input {
                float: left;
                border: 0;
                padding: 0;
                background-color: #CCCCCC;
                height: 2.5em;
                width: 17em;
                border-radius: 25px;
                padding-left: 12px;
                margin-top: 1em;
            }
            div.footerSearchIcon {
                border: 1px solid #525252;
                border-radius: 25px;
                height: 25px;
                width: 25px;
                cursor: pointer;
                background: url("../../images/footerSearchIcon.png") no-repeat center center;
                background-size: 12px 12px;
                float: left;
                margin-left: -2.5em;
                margin-top: 1em;
            }
            .footerMediaLinks {
                margin: 0 auto;
                display: block;
                width: 9em;
                img {
                    height: 2em;
                    cursor: pointer;
                }
                img:nth-child(2) {
                    margin: 2em 1em;
                }
            }
        }
    }
    div.copyright {
        p {
            text-align: center;
            margin-bottom: 0;
        }
    }
}

@media only screen and (min-width: 768px) {
    nav.navbar {
        div.collapse {
            ul.nav {
                float: right;
                li {
                    div.searchCircle {
                        display: block;
                        position: relative;
                        margin: 0.6em 0 0 0;
                        border-radius: 25px;
                    }
                    div#searchCollapse {
                        input {
                            width: 13em;
                            height: 2.25em;
                        }
                    }
                    a {
                        width: 10em;
                        padding: 0;
                    }
                }
                li:nth-child(4) {
                    margin-right: 1.8em;
                }
            }
        }
    }
    section.hero {
        .heroStatement {
            font-size: 2.25em;
            text-align: center;
            width: 25em;
            margin: 0 auto;
            color: white;
            margin-top: 7.5em;
        }
        .btnWrapper {
            button {
                font-size: 1.2em;
            }
        }
        div.row {
            div.border {
                display: none;
            }
            img {
                width: 5em;
            }
            div.signals {
                border-left: 1px solid white;
                border-right: 1px solid white;
            }
        }
    }
    div.carousel {
        display: none;
    }
    div.products-background {
        background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../../images/haze.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 30em;
        font-family: "gothamBook";
        width: 100%;
        margin: 0;
        display: block;
        div {
            color: white;
            img {
                height: 12em;
                width: 12em;
                border-radius: 75px;
                margin: 2em auto;
                border: 4px #2cae51 solid;
                display: block;
            }
            p {
                width: 15em;
                margin: 0 auto;
                text-align: left;
                height: 5em;
            }
            button {
                width: 11em;
                height: 2.75em;
                padding: 0;
                border: 0;
                font-size: 1.4em;
                margin: 2em auto;
                display: block;
                background-color: #2cae51;
                margin-bottom: 0;
            }
        }
        .retail {
            img {
                border-color: #E9722D;
            }
            button {
                background-color: #E9722D;
            }
        }
        .banks {
            img {
                border-color: #EFAA2E;
            }
            button {
                background-color: #EFAA2E;
            }
        }
        .realEstate {
            img {
                border-color: #1E94EA;
            }
            button {
                background-color: #1E94EA;
            }
        }
    }
    .signalBackground {
        div.whatIsSignal {
            .signalWrapper {
                width: 60em;
                img {
                    height: 12em;
                    margin: 8em auto;
                }
                button {
                    font-size: 1.2em;
                }
            }
        }
        .partners {
            .partnersLogos {
                width: 60em;
                div.col-xs-3 {
                    img {
                        height: 4em;
                    }
                }
            }
            h1 {
                margin-top: -2em;
            }
        }
    }
    footer {
        .footerLogoContainer {
            margin: 0;
            margin-left: 4em;
        }
        div.row {
            a {
                text-align: left;
                width: 20em;
                padding-left: 2.5em;
            }
            div.col-sm-3:nth-child(4) {
                margin: -1em 0 0 -4em;
            }
            div.col-sm-3 {
                width: 26%;
            }
        }
    }
    section.media div.videos h1:nth-child(1) {
        padding-top: 0em;
    }
    section.media div.papersReleaseContainer div.pressReleases h1 {
        padding-top: 0;
    }
}

@media only screen and (min-width: 975px) {
    nav.navbar {
        .navbar-header {
            div.blueFill {
                width: 16em;
            }
            .navLogoContainer {
                margin-left: 8.5em;
            }
        }
    }
    section.hero {
        .btnWrapper {
            width: 20em;
            button {
                font-size: 1.4em;
            }
        }
        .heroStatement {
            margin-top: 5.5em;
            font-size: 3em;
        }
        div.row {
            p {
                font-size: 1.1em;
            }
        }
    }
    div.productsContainer {
        h1 {
            font-size: 2.5em;
        }
    }
    div.products-background {
        div {
            p {
                width: 13em;
                font-size: 1.1em;
            }
            button {
                font-size: 1.6em;
            }
        }
    }
    .signalBackground {
        div.whatIsSignal {
            .signalWrapper {
                width: 57em;
                h1 {
                    font-size: 2.5em;
                }
            }
        }
        .partners {
            h1 {
                font-size: 2.5em;
            }
            .partnersLogos {
                width: 90em;
                div.col-xs-3 {
                    img {
                        height: 6em;
                    }
                }
            }
        }
    }
}
