body {
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  width: 100%;
  background-color: #2b2b2b; }

@font-face {
  font-family: 'gothamBook';
  src: url(../../fonts/Gotham-Book.ttf); }

@font-face {
  font-family: 'gothamBold';
  src: url(../../fonts/Gotham-Bold.ttf); }

@font-face {
  font-family: 'gothamXLight';
  src: url(../../fonts/Gotham-XLight.ttf); }

@font-face {
  font-family: 'gothamMedium';
  src: url(../../fonts/Gotham-Medium.ttf); }

.navbar-nav > li > a,
.navbar-brand {
  padding-top: 8px !important;
  padding-bottom: 0 !important; }

.navbar {
  min-height: 75px !important; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: none !important; }

nav.navbar {
  font-family: 'gothamBook';
  border: 0;
  padding: 0;
  margin: 0;
  background-color: black;
  border-radius: 0px;
  min-height: 75px; }
  nav.navbar .navbar-header div.blueFill {
    min-height: 75px;
    width: 25%;
    background-color: #2996E7;
    float: left; }
  nav.navbar .navbar-header .logoAngle {
    height: 75px;
    margin-left: -8em;
    float: left; }
  nav.navbar .navbar-header button {
    border: 0;
    margin: 0;
    border-radius: 0px;
    height: 75px;
    width: 60px; }
  nav.navbar .navbar-header .navLogoContainer {
    color: white;
    position: absolute;
    line-height: 2.5em;
    margin-left: 2.5em;
    margin-top: 0.5em;
    float: left; }
    nav.navbar .navbar-header .navLogoContainer img {
      width: 18em;
      margin-top: 2em;
      margin-left: -1em; }
    nav.navbar .navbar-header .navLogoContainer p {
      margin: 1.5em -3em 0em -0.75em;
      font-size: 1.5em; }
  nav.navbar .navbar-header .navbar-toggle .icon-bar {
    display: block;
    width: 100%; }
  nav.navbar .navbar-header .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 8px; }
  nav.navbar div.collapse {
    border-radius: 0; }
    nav.navbar div.collapse ul.nav {
      float: left;
      margin-right: 4em; }
      nav.navbar div.collapse ul.nav li a {
        color: white;
        width: 12em;
        font-size: 1.125em; }
      nav.navbar div.collapse ul.nav li div.searchCircle {
        display: none;
        border: 1px solid white;
        cursor: pointer;
        background: url("../../images/search.png") no-repeat center center;
        background-size: 12px 12px;
        z-index: 500;
        position: absolute;
        height: 18px;
        width: 20px;
        margin: -18px 0 0 134px; }
        nav.navbar div.collapse ul.nav li div.searchCircle img {
          height: 1.2em;
          margin: 0 auto;
          display: block;
          margin-top: 0.3em; }
      nav.navbar div.collapse ul.nav li div#searchCollapse {
        position: absolute;
        margin-left: -9em;
        margin-left: -15em;
        margin-top: 3.1em; }
        nav.navbar div.collapse ul.nav li div#searchCollapse input {
          padding: 0;
          border: 0;
          border-radius: 15px;
          border: 1px solid white;
          text-align: center; }
      nav.navbar div.collapse ul.nav li form input {
        width: 15em;
        border: 0;
        padding: 0;
        border-radius: 25px;
        height: 20px;
        background-color: #CCCCCC;
        padding-left: 2em;
        margin-left: 1em;
        z-index: 1; }
  nav.navbar div.navbar-collapse {
    border: 0;
    padding-top: 1em; }

section.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../../images/heroBackground.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: 'gothamBook';
  min-height: 1036px; }
  section.hero .heroStatement {
    font-size: 2.75em;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    color: white;
    margin-top: 7em; }
    section.hero .heroStatement span {
      font-family: 'gothamBold';
      color: #1D93E9; }
  section.hero .btnWrapper {
    width: 100%;
    height: 10em;
    padding-top: 5em;
    margin-top: 7em;
    margin-bottom: 12em; }
    section.hero .btnWrapper button {
      width: 10em;
      height: 2.5em;
      background-color: transparent;
      border: 0;
      padding: 0;
      padding-top: 0.2em;
      border: 1px solid white;
      border-width: thin;
      display: block;
      margin: 0 auto;
      color: white;
      font-size: 1.5em; }
  section.hero div.row {
    max-width: 1920px;
    margin: 0 auto; }
    section.hero div.row div.col-sm-4 {
      margin: 2em 0em;
      padding: 1em 0em; }
    section.hero div.row h2 {
      font-size: 2.75em;
      text-align: center;
      font-family: 'gothamBold'; }
    section.hero div.row p {
      text-align: center;
      font-size: 1.5em;
      padding-left: 1em;
      padding-right: 1em;
      width: 16em;
      margin: 0 auto; }
    section.hero div.row img {
      width: 7em;
      margin: 0 auto;
      display: block; }
    section.hero div.row .border {
      border: 0.5px solid white;
      width: 20em;
      margin: 0 auto; }
  section.hero div.logoColor {
    width: 10%;
    min-height: 50px;
    background-color: #2996E7;
    float: right;
    margin-right: -15px; }
  section.hero .botAngle {
    height: 50px;
    float: right;
    margin-right: -2em; }

div.products-background {
  display: none; }

div.productsContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../../images/haze.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "gothamBook";
  padding-top: 1em;
  min-height: 802px;
  max-width: 1920px;
  margin: 0 auto; }
  div.productsContainer h1 {
    font-size: 2.75em;
    background-color: transparent;
    position: relative;
    color: white;
    margin: 0;
    margin: 3em auto;
    display: block;
    width: 5.75em;
    font-family: 'gothamXLight'; }

div.carousel div.carousel-inner {
  color: white;
  min-height: 802px; }
  div.carousel div.carousel-inner img {
    height: 20em;
    width: 20em;
    border-radius: 110px;
    margin: 2em auto;
    border: 4px #2cae51 solid;
    margin-top: 10em; }
  div.carousel div.carousel-inner .productsEnergy {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../../images/productsEnergy.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  div.carousel div.carousel-inner p {
    width: 20em;
    margin: 8em auto;
    text-align: center;
    font-size: 1.5em;
    height: 3em; }
  div.carousel div.carousel-inner button {
    width: 12em;
    height: 3em;
    padding: 0;
    border: 0;
    font-size: 2em;
    margin: 2em auto;
    display: block;
    background-color: #2cae51;
    margin-bottom: 0em; }
  div.carousel div.carousel-inner .retail img {
    border-color: #E9722D; }
  div.carousel div.carousel-inner .retail button {
    background-color: #E9722D; }
  div.carousel div.carousel-inner .banks img {
    border-color: #EFAA2E; }
  div.carousel div.carousel-inner .banks button {
    background-color: #EFAA2E; }
  div.carousel div.carousel-inner .realEstate img {
    border-color: #1E94EA; }
  div.carousel div.carousel-inner .realEstate button {
    background-color: #1E94EA; }

section.media {
  margin: 0;
  color: black;
  min-height: 657px;
  max-width: 1920px;
  margin: 0 auto; }
  section.media div.col-sm-4 {
    padding: 0; }
  section.media div.newsRoom {
    font-family: 'gothamXLight';
    min-height: 672px;
    background-color: white; }
    section.media div.newsRoom div {
      width: 21em;
      margin: 2em auto;
      margin-top: 6em; }
      section.media div.newsRoom div p {
        font-size: 1.5em; }
    section.media div.newsRoom h1 {
      text-align: center;
      font-size: 2.75em;
      padding: 3em 0em 1em 0em;
      margin: 0; }
    section.media div.newsRoom h2 {
      font-size: 2em;
      font-family: 'gothamBold'; }
  section.media div.papersReleaseContainer {
    background-color: #2B2B2B;
    color: white;
    min-height: 657px; }
    section.media div.papersReleaseContainer div.whitePapers {
      min-height: 326px;
      padding-top: 5em; }
      section.media div.papersReleaseContainer div.whitePapers div.paperIconContainer {
        margin: 0 auto;
        display: block;
        width: 27em; }
      section.media div.papersReleaseContainer div.whitePapers div.wrapper {
        width: 30em;
        display: block;
        margin: 0 auto;
        margin-top: 7em; }
        section.media div.papersReleaseContainer div.whitePapers div.wrapper div:nth-child(2) {
          border-left: 1px solid white;
          padding-left: 2em; }
        section.media div.papersReleaseContainer div.whitePapers div.wrapper div {
          width: 10em;
          float: left;
          padding: 1em;
          font-family: 'gothamMedium';
          font-size: 1.5em;
          margin-top: 3em; }
      section.media div.papersReleaseContainer div.whitePapers h1 {
        text-align: center;
        font-size: 2.75em;
        width: 8em;
        float: right;
        font-family: 'gothamXLight';
        margin: 0;
        padding-top: 0.75em; }
      section.media div.papersReleaseContainer div.whitePapers img {
        float: left;
        height: 4em;
        margin-top: 1.5em; }
    section.media div.papersReleaseContainer div.pressReleases {
      background-color: #9E9E9E;
      min-height: 326px; }
      section.media div.papersReleaseContainer div.pressReleases h1 {
        font-family: 'gothamXLight';
        font-size: 2.75em;
        text-align: center;
        padding-top: 0.5em; }
      section.media div.papersReleaseContainer div.pressReleases h2 {
        font-family: 'gothamMedium';
        font-size: 2em;
        width: 12.1em;
        display: block;
        margin: 0 auto; }
      section.media div.papersReleaseContainer div.pressReleases .learn {
        cursor: pointer; }
      section.media div.papersReleaseContainer div.pressReleases p {
        font-family: 'gothamBook';
        width: 16em;
        display: block;
        margin: 1em auto;
        font-size: 1.5em; }
  section.media div.videos {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../../images/videos.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0% 83%;
    color: white;
    min-height: 672px; }
    section.media div.videos h1:nth-child(1) {
      font-family: 'gothamXLight';
      text-align: center;
      font-size: 2.75em;
      padding-top: 2em;
      padding-bottom: 2em;
      margin: 0; }
    section.media div.videos h2 {
      font-family: 'gothamBold';
      font-size: 2em;
      margin-top: 0; }
    section.media div.videos div.realEstateWebinar,
    section.media div.videos div.whatWeDo {
      width: 25em;
      margin: 0 auto;
      height: 15em; }
      section.media div.videos div.realEstateWebinar img,
      section.media div.videos div.whatWeDo img {
        height: 3em;
        float: left;
        margin-right: 2em;
        cursor: pointer; }
      section.media div.videos div.realEstateWebinar div,
      section.media div.videos div.whatWeDo div {
        float: left;
        width: 20em; }
        section.media div.videos div.realEstateWebinar div p,
        section.media div.videos div.whatWeDo div p {
          font-family: 'gothamXLight';
          font-size: 1.5em; }
    section.media div.videos div.whatWeDo {
      border-bottom: 1px solid white; }
    section.media div.videos div.videosFooter h1 {
      margin-top: 0.5em; }
    section.media div.videos div.videosFooter div.row {
      width: 19em;
      margin: 0 auto; }
    section.media div.videos div.videosFooter img {
      height: 3em;
      cursor: pointer; }

.signalBackground {
  min-height: 1181px; }
  .signalBackground div.whatIsSignal {
    background: url("../../images/signals.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    min-height: 749px; }
    .signalBackground div.whatIsSignal .signalWrapper {
      width: 25em;
      margin: 0 auto;
      position: relative;
      height: 80%;
      padding-top: 1em;
      color: white; }
      .signalBackground div.whatIsSignal .signalWrapper h1 {
        font-family: 'gothamXLight';
        font-size: 2.75em; }
      .signalBackground div.whatIsSignal .signalWrapper img {
        height: 12em;
        margin: 5em auto;
        display: block; }
      .signalBackground div.whatIsSignal .signalWrapper p {
        font-family: 'gothamBook';
        font-size: 1.5em; }
      .signalBackground div.whatIsSignal .signalWrapper button {
        font-family: 'gothamBook';
        width: 8em;
        height: 2em;
        background-color: #1E94EA;
        border: 0;
        padding: 0;
        font-size: 1.5em;
        margin-top: 1em; }
  .signalBackground .partners {
    background: url("../../images/signalsBot.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    min-height: 432px;
    padding-top: 2em; }
    .signalBackground .partners h1 {
      margin-top: 0;
      font-family: 'gothamXLight';
      font-size: 2.75em;
      text-align: center;
      padding-bottom: 3em;
      padding-top: 3em; }
    .signalBackground .partners .partnersLogos {
      width: 28em;
      margin: 0em auto;
      padding: 3em 0em;
      border-top: 1px solid white;
      border-bottom: 1px solid white; }
      .signalBackground .partners .partnersLogos div.col-xs-3 {
        padding: 0em 0px; }
        .signalBackground .partners .partnersLogos div.col-xs-3 img {
          height: 2em;
          margin: 0 auto;
          display: block; }

footer {
  background-color: #A8A8A8;
  min-height: 570px; }
  footer .footerLogoContainer {
    width: 19em;
    margin: 0 auto;
    padding: 3em 0; }
    footer .footerLogoContainer img {
      height: 3em; }
    footer .footerLogoContainer p {
      font-family: 'gothamXLight';
      padding-top: 1.5em; }
  footer div.row {
    margin: 0; }
    footer div.row .col-xs-3 {
      margin: 0 auto;
      display: block;
      width: 100%; }
    footer div.row a {
      display: block;
      font-family: 'gothamXLight';
      color: black;
      line-height: 1.75em;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      font-size: 1.5em;
      margin: 0 auto; }
    footer div.row div.firstFooterCol a:nth-child(1) {
      width: 11em; }
    footer div.row div.firstFooterCol a:nth-child(2) {
      width: 7em; }
    footer div.row div.firstFooterCol a:nth-child(3) {
      width: 16em; }
    footer div.row div.firstFooterCol a:nth-child(4) {
      width: 5em; }
    footer div.row div.secondFooterCol a:nth-child(1),
    footer div.row div.secondFooterCol a:nth-child(2) {
      width: 6em; }
    footer div.row div.secondFooterCol a:nth-child(3) {
      width: 10em; }
    footer div.row div.secondFooterCol a:nth-child(4) {
      width: 4em; }
    footer div.row div.thirdFooterCol a:nth-child(1) {
      width: 7em; }
    footer div.row div.thirdFooterCol a:nth-child(2) {
      width: 5em; }
    footer div.row div.thirdFooterCol a:nth-child(3) {
      width: 8em; }
    footer div.row div.thirdFooterCol a:nth-child(4) {
      width: 10em; }
    footer div.row .col-xs-3:nth-child(4) form {
      margin: 0 auto;
      display: block;
      width: 19em; }
    footer div.row .col-xs-3:nth-child(4) input {
      float: left;
      border: 0;
      padding: 0;
      background-color: #CCCCCC;
      height: 2.5em;
      width: 188px;
      border-radius: 25px;
      padding-left: 12px;
      margin-top: 1em; }
    footer div.row .col-xs-3:nth-child(4) div.footerSearchIcon {
      border: 1px solid #525252;
      border-radius: 25px;
      height: 25px;
      width: 25px;
      cursor: pointer;
      background: url("../../images/footerSearchIcon.png") no-repeat center center;
      background-size: 12px 12px;
      float: left;
      margin-left: -2.5em;
      margin-top: 1em; }
    footer div.row .col-xs-3:nth-child(4) .footerMediaLinks {
      margin: 2.5em auto;
      display: block;
      width: 12em; }
      footer div.row .col-xs-3:nth-child(4) .footerMediaLinks img {
        height: 3em;
        cursor: pointer; }
      footer div.row .col-xs-3:nth-child(4) .footerMediaLinks img:nth-child(2) {
        margin: 2em 1em; }
  footer div.copyright p {
    text-align: center;
    margin-bottom: 0; }

@media only screen and (min-width: 768px) {
  nav.navbar .navbar-header {
    width: 34%;
    display: inline-block; }
    nav.navbar .navbar-header div.blueFill {
      width: 34%; }
  nav.navbar .navbar-collapse.collapse {
    display: inline-block !important; }
  nav.navbar div.collapse {
    float: right; }
    nav.navbar div.collapse ul.nav {
      float: right;
      margin-right: 2em;
      margin-top: 2em; }
      nav.navbar div.collapse ul.nav li div.searchCircle {
        display: block;
        position: relative;
        margin: 0.6em 0 0 0;
        border-radius: 25px; }
      nav.navbar div.collapse ul.nav li div#searchCollapse input {
        width: 158px;
        height: 2.25em; }
      nav.navbar div.collapse ul.nav li a {
        width: 7.5em;
        padding: 0; }
      nav.navbar div.collapse ul.nav li:nth-child(4) {
        margin-right: 1.8em; }
  nav.navbar div.navbar-collapse {
    margin-top: -1em; }
  section.hero div.row div.border {
    display: none; }
  section.hero div.row img {
    width: 5em; }
  section.hero div.row div.signals {
    border-left: 1px solid white;
    border-right: 1px solid white; }
  section.hero div.logoColor {
    margin-top: 21.3em; }
  section.hero .botAngle {
    margin-top: 21.3em; }
  div.carousel {
    display: none; }
  div.products-background {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../../images/haze.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 30em;
    font-family: "gothamBook";
    width: 100%;
    margin: 0;
    display: block; }
    div.products-background div {
      color: white; }
      div.products-background div img {
        height: 17em;
        width: 17em;
        border-radius: 110px;
        margin: 2em auto;
        border: 4px #2cae51 solid;
        display: block; }
      div.products-background div p {
        width: 11em;
        margin: 8em auto;
        text-align: center;
        font-size: 1.5em;
        height: 3em; }
      div.products-background div button {
        width: 12em;
        height: 3em;
        padding: 0;
        border: 0;
        font-size: 1.3em;
        margin: 2em auto;
        display: block;
        background-color: #2cae51;
        margin-bottom: 0; }
    div.products-background .retail img {
      border-color: #E9722D; }
    div.products-background .retail button {
      background-color: #E9722D; }
    div.products-background .banks img {
      border-color: #EFAA2E; }
    div.products-background .banks button {
      background-color: #EFAA2E; }
    div.products-background .realEstate img {
      border-color: #1E94EA; }
    div.products-background .realEstate button {
      background-color: #1E94EA; }
  .signalBackground div.whatIsSignal {
    padding-top: 13em; }
    .signalBackground div.whatIsSignal .signalWrapper {
      width: 60em; }
      .signalBackground div.whatIsSignal .signalWrapper img {
        height: 20em;
        margin: 8em auto; }
  .signalBackground .partners .partnersLogos {
    width: 60em; }
    .signalBackground .partners .partnersLogos div.col-xs-3 img {
      height: 4em; }
  .signalBackground .partners h1 {
    margin-top: -2em; }
  footer .footerLogoContainer {
    margin: 0;
    margin-left: 4em;
    padding: 7em 0em 10em 0em; }
  footer div.row {
    max-width: 1920px;
    margin: 0 auto;
    margin-bottom: 13em; }
    footer div.row a {
      text-align: left;
      width: 11em;
      margin: 1em 0em;
      margin-left: 3em; }
    footer div.row div.col-xs-3:nth-child(4) {
      margin: 1em 0 0 -5em; }
    footer div.row div.col-xs-3 {
      width: 25%; }
  section.media div.videos h1:nth-child(1) {
    padding-top: 2.5em; }
  section.media div.papersReleaseContainer div.pressReleases h1 {
    padding-top: 40px; }
  section.media div.videos div.videosFooter h1 {
    margin-top: -0.5em; } }

@media only screen and (min-width: 975px) {
  nav.navbar div.collapse ul.nav li a {
    width: 10em; }
  div.productsContainer h1 {
    font-size: 2.5em; }
  div.products-background div p {
    width: 13em; }
  div.products-background div button {
    font-size: 1.6em; }
  .signalBackground div.whatIsSignal .signalWrapper {
    width: 57em; }
    .signalBackground div.whatIsSignal .signalWrapper h1 {
      font-size: 2.5em; }
  .signalBackground .partners h1 {
    font-size: 2.5em; }
  .signalBackground .partners .partnersLogos {
    width: 90em; }
    .signalBackground .partners .partnersLogos div.col-xs-3 img {
      height: 4.5em; }
  footer div.row a {
    padding-left: 0; } }

@media only screen and (min-width: 1200px) {
  .signalBackground div.whatIsSignal {
    padding-top: 13em; }
    .signalBackground div.whatIsSignal .signalWrapper {
      width: 80em; }
  footer div.row a {
    margin-left: 7em; }
  footer div.row .firstFooterCol a:nth-child(3) {
    width: 16em; } }

@media only screen and (min-width: 1600px) {
  section.media div.newsRoom div {
    width: 30em; }
  section.media div.papersReleaseContainer div.pressReleases h2 {
    width: 21.1em; }
  section.media div.papersReleaseContainer div.pressReleases p {
    width: 28em; }
  section.media div.papersReleaseContainer div.pressReleases h1 {
    padding-bottom: 1em; }
  section.media div.videos div.realEstateWebinar,
  section.media div.videos div.whatWeDo {
    width: 36em; }
  section.media div.videos div.realEstateWebinar div,
  section.media div.videos div.whatWeDo div {
    width: 29em; }
  section.media div.videos div.realEstateWebinar img,
  section.media div.videos div.whatWeDo img {
    height: 5em; } }
